<div class="gilded-rose-content">
  <h3>Inventory</h3>
  <br />
  <div class="inventory-item">
    <div class="item-name bold">
      Name
    </div>
    <div class="item-sellIn bold">
      Sell In (Days)
    </div>
    <div class="item-quality bold">
      Quality
    </div>
  </div>
  <div *ngFor="let item of items" class="inventory-item">
    <div class="item-name">
      {{item.name}}
    </div>
    <div class="item-sellIn">
      {{item.sellIn}}
    </div>
    <div class="item-quality">
      {{item.quality}}
    </div>
  </div>
  <a (click)="updateQuality()">Update Quality</a>
</div>>
